{% load static %}

<!--footer -->
<footer class="footer">
    <div class="headin5_amrc">
       <div class="row">
          <div class=" col-sm-4 col-md col-sm-4  col-12 col">
            <h5 class="headin5_amrc col_white_amrc pt2">A propos</h5>
                <!--headin5_amrc-->
               <p class="mb10">notre site web vous permetra d'evaluer votre datasets facillement et rapidement.vous devez juste vous inscrire et connecter a notre plateforme EVAAL</p>
          </div>
          <div class=" col-sm-4 col-md  col-6 col">
            <h5 class="headin5_amrc col_white_amrc pt2">Informations</h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc">
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Reseaux sociaux</h5>
  <!--headin5_amrc-->
  <ul class="liste-media">
    <li><a href="#">
      <img src="{% static 'app/img/icons8-facebook-48.png' %}" alt="icones réseaux sociaux"> 
      Facebook/monsite</a></li>
    <li><a href="#">
      <img src="{% static 'app/img/icons8-instagram-64.png' %}" alt="icones réseaux sociaux">
      Instagram/stuff</a></li>
    <li><a href="#">
       <img src="{% static 'app/img/icons8-twitter-48.png' %}" alt="icones réseaux sociaux">
      Twitter/lorem</a></li>
    <li><a href="#">
      <img src="{% static 'user/img/icons8-github-50.png' %}" alt="icones réseaux sociaux">
      Github/HelloWorld</a></li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>
  
  
  
  </div>
  </div>
  
  </footer>
  </div>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'app/js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'app/js/popper.min.js' %}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  